.page>aside>nav ul li.selected {
    background-color: #004fe2;
}

.page>aside>nav ul li.selected:hover {
    background-color: #295de0;
}

.page>aside>nav ul li.selected:active {
    background-color: #0034b6;
}